### Linux ###
*~

# временные файлы, которые могут быть созданы, если у процесса все еще открыт дескриптор удаленного файла 
.fuse_hidden*

# Настройки каталога KDE 
.каталог

# Папка корзины Linux, которая может появиться на любом разделе или диске
.Корзина-*

# файлы .nfs создаются при удалении открытого файла, но доступ к ним сохраняется 
.nfs*

### Ruby ###
*.gem
*.rbc
/.config 
/покрытие/
/ Установленные файлы
/pkg/
/спецификация/отчеты/
/spec/examples.txt
/тест/tmp/
/test/version_tmp/
/tmp/

# Используется библиотекой dotenv для загрузки переменных среды.
# .env

# Игнорировать файл истории команд Byebug.
.byebug_history

## Специфично для RubyMotion:
.dat*
.repl_history 
сборка/
*.bridgesupport 
сборка-iPhoneOS/
сборка-iPhoneSimulator/

## Специфично для RubyMotion (использование CocoaPods):
#
# Мы не рекомендуем добавлять каталог Pods в ваш файл .gitignore. Однако
# судите сами, плюсы и минусы указаны в разделе:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
# поставщик / Модули/

## Кэш документации и сгенерированные файлы:
/.yardoc/
/_yardoc/
/doc/
/rdoc/

## Нормализация среды:
/.bundle/
/ поставщик / комплект 
/ библиотека / комплектующий / man/

# для библиотеки или драгоценного камня вы можете проигнорировать эти файлы, поскольку код
# предназначен для запуска в нескольких средах; в противном случае проверьте их в:
# Gemfile.заблокировать
# .ruby-version
# .ruby-gemset

# если вы не поддерживаете rvm < 1.11.0 или не делаете что-то необычное, игнорируйте это:
.rvmrc

# Используется RuboCop. Удаленные конфигурационные файлы, извлеченные из директивы inherit_from.
# .rubocop-https?--*

# Конец https://www.toptal.com/developers/gitignore/api/ruby,linux
